{% extends 'install/layout.html.twig' %}

{% block page %}
    <h1 class="page-header">
        Dummy client installation
    </h1>
    <form role="form" method="post">
        <div class="well">
            <h2>Dummy API</h2>
            <div class="form-group">
                <label for="dummy_endpoint">Endpoint base URL</label>
                <input type="url" class="form-control" name="dummy_endpoint" id="dummy_endpoint" placeholder="Enter URL" required />
            </div>
            <div class="form-group">
                <label for="dummy_pubk">Public key</label>
                <input type="password" class="form-control" name="dummy_pubk" id="dummy_pubk" required />
                <p class="small">
                    Default is: dummy_app
                </p>
            </div>
            <div class="form-group">
                <label for="dummy_prik">Private key</label>
                <input type="password" class="form-control" name="dummy_prik" id="dummy_prik" required />
                <p class="small">
                    Default is: dummy_app
                </p>
            </div>
        </div>
        <div class="well">
            <h2>User</h2>
            <div class="form-group">
                <label for="user_username">Username</label>
                <input type="text" class="form-control" name="user_username" id="user_username" required />
            </div>
            <div class="form-group">
                <label for="username_password">Password</label>
                <input type="password" class="form-control" name="user_password" id="user_password" required />
            </div>
        </div>
        <button type="submit" class="btn btn-primary">
            Install
        </button>
    </form>

{% endblock %}