body {
    margin-top: 70px;
    padding-bottom: 50px;
}

.red {
    color: red;
}

.green {
    color: limegreen;
}

.blue {
    color: blue;
}

.orange {
    color: orange;
}

.white {
    color: white;
}