{% extends 'layout.html.twig' %}


{% block breadcrumbs %}
    {{ breadcrumbs([
        {
            label: 'Logs',
            url: url('dummy_client.log.index')
        },
        {
            label: filename
        }
    ]) }}
{% endblock %}

{% block page %}
    
    <div>
        {{ content|nl2br }}
    </div>

{% endblock %}