dummy:
    endpoint: http://localhost/~michael/dummy/
    key:
        public: dummy_app
        private: dummy_app

twig:
    templates: app/views
    cache: app/cache/twig

monolog:
    dir: app/logs