{% extends 'layout.html.twig' %}

{% block breadcrumbs %}
    {{ breadcrumbs([
        {
            label: 'Repositories',
            url: url('dummy_client.repository.index')
        },
        {
            label: repository.getSingularLabel
        },
        {
            label: 'Fields',
            url: url('dummy_client.field.index', {
                repositoryId: repository.getId
            })
        },
        {
            label: field.getLabel
        },
        {
            label: 'Read'
        }
    ]) }}
{% endblock %}

{% block page %}
    
    {% include 'repository/tab.html.twig' with {
        repository: repository,
        active: 'fields'
    } %}
    
    <h4>{{ field.getLabel }}</h4>
    
    {% include 'repository/field/tab.html.twig' with {
        repository: repository,
        field: field,
        active: 'read'
    } %}
    
    <?= $this->viewRender('partials/form-static.phtml', array(
    'form' => $_['form']
)) ?>

{% endblock %}